*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: #121214;
  color: white;
  overflow-x: hidden;
}

#app {
  display: grid;
  grid-template-columns: max-content 1fr;
  min-height: 100vh;
}

/*Logo*/
.logo span {
    color: #6a5acd;
}

main .inner {
  height: 100%;
  background-color: #09090A;
  border-top-left-radius: 2rem;
  padding: 3rem;
}


main {
  margin-top: 1rem;
}

/*Menu - Sidebar*/
nav {
  padding: 3.7rem 8rem 0 3.5rem;
  min-width: 13rem;
}

ul {
  margin-top: 5rem;
  list-style: none;
  display: grid;
  gap: 4rem;
  max-width: 13rem;
}

ul a {
  text-decoration: none;
}

li a {
  color: white;
  display: flex;
  gap: 2rem;
  font-size: 1.7rem;
  font-weight: 500;
  transition: 0.4s;
}

a.active {
  color: #6a5acd;
}

a:hover, nav form input:hover {
  color: #6a5acd;
}

.logout {
  padding: 1rem 3rem;
  margin-top: 3rem;
  border-radius: 0.8rem;
  font-weight: 700;
  border: 1px solid #6a5acd;
  color: white;
  background-color: transparent;
  cursor: pointer;
  width: 11rem;
}

/*botão de sair*/
nav form input {
    background: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
}

/*Avatar*/
section.title-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.title-avatar img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.profile-container {
  position: relative;
}

.profile.show {
  display: none;
}

.profile {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 6rem;
  left: -15rem;
  padding: 1.3rem 1rem 0rem;
  width: 200px;
  justify-content: center;

  border: 1px solid #232323;
  background-color: #121214;
  border-radius: 1rem;
  
  transition: 0.3s;
}

ion-icon {
  font-size: 2rem;
}

.profile a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.profile a:hover {
  color: #6a5acd;
  text-decoration: none;
}


/* regras de mídia */
@media screen and (max-width: 1024px) {
  nav {
    margin-left: -50rem;
    transition: margin-left 0.5s ease-in-out;
  }

  nav.show {
    margin-left: 0;
  }

  main .inner .toggle-btn {
    display: block;
  }
}

/* Adicione estas regras para o botão de toggle */
.toggle-btn {
  display: none;
  cursor: pointer;
  font-size: 3rem;
  border: none;
  background-color: transparent;
  color: white;
  padding: 0 2rem;
  text-align: left;
}

