* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #09090A;
    color: white;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    margin: 0 auto;
}

nav {
    background-color: transparent;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(240, 240, 240, 0.2)
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-menu ul li {
    font-size: 14px;
    font-weight: 700;
}

ul li {
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: white;
}

a.cta {
    padding: 10px 30px;
    background-color: #7b4ee4;
    border-radius: 3px;
}

a.cta:hover,
.btn-button:hover {
    background-color: #6a5acd;
}

a.cta-register {
    border: 1px solid #7b4ee4;
    padding: 7px 30px;
    border-radius: 3px;
    font-weight: 500;
}

a.cta-register:hover {
    background-color: #6a5acd;
    border: 1px solid #7b4ee4;
}

.hero,
.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 4rem 0;
}

.hero h1,
.about h2 {
    font-size: 55px;
}

.hero-paragraph {
    margin: 20px 0;
}

.btn-button {
    text-decoration: none;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: 700;
    background-color: #7b4ee4;
    border-radius: 3px;
    padding: 15px 30px;
    display: inline-block;
}

img {
    width: 55%;
    border-radius: 3px;
}

.about {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.animate-on-scroll.visible {
    opacity: 1;
    animation: fadeIn 1s ease-in-out forwards;
}


@keyframes fadeIn {
    from {
        transform: translateY(20px);
    }

    to {
        transform: translateY(0);
    }
}

.gradient-text {
    background: linear-gradient(to right, #6a5acd, #8a2be2);
    background-clip: text;
    color: transparent;
}

.nav-menu span {
    display: none;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
}

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 1);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 28px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #7b4ee4;
}

.overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 60px;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 15px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 20px;
        right: 20px;
    }
}

@media only screen and (max-width: 800px) {

    .hero,
    .about {
        flex-direction: column;
    }

    img {
        width: 100%;
    }

    .about {
        flex-direction: column-reverse;
    }

    .nav-menu ul {
        display: none;
    }

    .menu {
        display: block;
    }

    .nav-menu span {
        display: block;
    }
}